.nav {
    background-color: #ffffffc1;
    height: 60px;
    width: 100%;
    position: fixed;
    padding: auto;
}

#navbar {
    display: flex;
    margin: 10px 20px 10px 50px;
    justify-content: space-around;
}

#logo {
    height: 40px;
    width: max-content;
    position: absolute;
    left: 10%;
}

#logo > img {
    border-radius: 15px;
}

#pages {
    display: flex;
    justify-content: space-around;
    width: 500px;
    position: absolute;
    right: 3%;
}

.links{
    display: flex;
    align-items: center;
}

.links > a {
    text-decoration: none;
    color: #230d4d;
    font-size: 15px;
}

#Profile-pic {
    height: 40px;
    margin-left: 50px;
}

#Profile-pic > img {
    border-radius: 50%;
}