<!DOCTYPE html>
<html>
  <head>
    <title>Stripe Payment Method</title>
  </head>
  <body>
    <h3>Payment Gateway</h3>
      <form action="createSession" method="POST">
        <script 
            src="//checkout.stripe.com/v2/checkout.js"
            date-key="pk_test_51OzNTSSJTYpAWZEs2AkesOJUFvUQA7SZxBVy74fMkcTqsxGPlcaCdFI3g01CmbI74cUdvJfJxMDHckColNa6ikri006yB8oq2x"
            class="stripe-button"
            data-amount="7000"
            data-currency="usd"
            data-name="foodApp"
            data-description="Buy Food Plan"
            data-locale="auto"
        >
        </script>
      </form>
  </body>
</html>
